td {
    background-color:gray;
    width: 55px;
    height: 54px;
    text-align: center;
}

*{
    margin: auto;
   background-color: beige;
}

h1 {
    color: black;
    text-align: center;
    font-size: 65px;
}

.noPiece {
    background-color: green;
}

.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border-radius: 50px;

}

.red-piece{
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border-radius: 50px;

}

.reds-turn{
    text-align: center;
    color: red;
    font-size: 55px;
}

.blacks-turn{
    text-align: center;
    font-size: 55px;
    color: black;
}

span{
    display: inline-block;
}